nav{
    position: relative;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav a{
    color: #EEEEEE;
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
@keyframes hover{
    from{
        color: #EEEEEE;
        transform: scale(1);
    }
    to{
        color: #00ADB5;
        transform: scale(1.2);
    }
}
nav  a:hover{
    animation: hover 0.5s forwards;
}
.confirm{
    position: fixed;
    background-color: #373636a3;
    top:0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame{
    position: relative;
    width: 350px;
    height: 200px;
    background-color: #222831;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 3px solid red;
}

.frame  span{
    grid-area: 1 / 1 / 1 / -1;
    width: 100%;
    align-items: center;
    color: #EEEEEE;
    padding-top: 30px;
    justify-self: center;
}
#yes{
    grid-area: 2 / 2 / 3 / 3;
    width: 70px;
    height: 50px;
    align-self: center;
    justify-self: center;
    background-color: red;
    color: white;
}
#no{
    grid-area: 2 / 1 / 3 / 2;
    width: 70px;
    height: 50px;
    align-self: center;
    justify-self: center;
    background-color: green;
    color: white;
}
#yes:hover, #no:hover{
    animation: none;
    border: yellow 1px solid;
}
.frame > span:hover{
    color: white;
    cursor: auto;
}
@media screen and (min-width: 380px) {
    nav > *{
        margin: 0 50px;
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 381px) {
    nav > *{
        margin: 0 20px;
        font-size: 1.2rem;
    }
}
.newproject-button{
    grid-area: 3 / 1 / 4 / 3;
    align-self: last baseline;
    margin-bottom: 10px;
    text-decoration: underline;
}